langchain>=0.1.12
langchain-community>=0.0.28
langchain-text-splitters>=0.0.1
langchain-huggingface>=0.1.2
sentence-transformers>=2.5.1
pypdf==4.1.0
python-dotenv==1.0.1
faiss-cpu==1.10.0
unstructured==0.17.2
beautifulsoup4>=4.10.0